<% provide(:title, "Dashboard") %>
<div class="container">
	<h1>Recommendations</h1>
</div>

<div class="container">
	<div class="six columns">
		<h3>Currently Watching</h3>
	  <%= render partial: "animes/collection" %>
	</div>
	<div class="six columns">
		<h3>Currently Reading</h3>
	  <%= render partial: "mangas/collection" %>
	</div>
</div>
<div class="container">
	<div class="six columns">
		<h1>Watched</h1>

	</div>
	<div class="six columns">
		<h1>Read</h1>
	</div>
</div>