<% provide(:title, "Home") %>
<div class="container">
	<div class="row">
		<div class="eight columns">
			<div class="site-image">
			""
			</div>
			<div class="main-content-divider"></div>
		</div>
		<div class="four columns">
			<div class="description">
				<div class="description-title">
				Keep Track
				</div>
				<div class="description-sub-title">
				Of Things You Love
				</div>
				<div class="description-content">
					<p>Anime and Manga are Japanese animations and comics that anybody can enjoy.
					There are so many anime and manga out there that its sometimes hard to remember what you have read or seen.
					Animanga is a site dedicated to making sure you remember what you have absorbed,
					 while also giving you some recommendations of what you should read or watch next.
				</div>
				<div class="main-content-divider"></div>
		</div>
	</div>
</div>