<article>
  <div class="parallax">
    <div class="bg_base_layer"></div>
    <div class="bg_back_layer">
      <div class="capture_layer">
        <h1>Welcome to Animanga</h1><br>
        <hr>
         <p>This app will help you explore and keep track of anime and manga in a easy to use setting</p>
     </div>
  </div>
