@import 'normalize';
@import 'skeleton';
@import 'welcome';

nav {
  box-sizing: border-box;
  height: 5%;
  padding-top: 1%;
  padding-bottom: 4%;
  background-color: #303030;
  border-radius: 3px;
  box-shadow: 1px 1px 0 #F01855, 2px 2px 0 #F01855, 3px 3px 3px rgba(0, 0, 0, 0.35);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  margin-bottom: 50px;

  h1,h3{
    color: #303030;
    margin-left: 1%;
    font-family: Monaco, "Andale Mono";
    display: inline;
    font-size: 2em;
    background: #B8ED01;
    padding: 1px;
    border-radius: 4px;
    transition: all 0.3s ease-out;
    box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,0.7);
  }

  a{
    color: #303030;
    text-decoration: none;
  }
  a:hover{
    color: #F01855;
  }
  h3{
    font-size: 1.5em;
    float:right;
    padding-right: 5px;
    margin-right: 1%;
    margin-top: 0.3%;
  }
}

footer {
  box-sizing: border-box;
  height: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: #303030;
  border-radius: 3px;
  box-shadow: 1px 1px 0 #F01855, 2px 2px 0 #F01855, 3px 3px 3px rgba(0, 0, 0, 0.35);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  margin-bottom: 5px;
  h6{
    color: white;
    margin-left: 40%;
    padding-top: 5px;
    margin-bottom: 0px;
  }
}
.log-in{
  margin-left: 10%;
}
.sign-up{
  margin-left: 10%;
}
.form-groups {
  background-color: #303030;
  color: white;
  width: 50%;
  margin-left: 25%;
  border-radius: 3px;
  .form-submit {
    .actions {
      color: white;
      margin-left: 40%;
      .actions:hover {
        color: #F01855;
      }
    }
  }
  .form-inputs {
    .field {
      margin-left: 35%;
    }
    .top-field {
      margin-left: 35%;
      padding-top: 10%;
    }
  }
}
 hr{
   margin: 0px;
 }

@media (max-width: 1200px) {
  .parallax{
    width: 80%;
    height: 40vh;
    margin-left: 10%;
  }

  .capture_layer{
    padding-bottom: 3em;
    height: 65%;
    h1{
      margin-bottom: 0px;
    }
  }
}