@import 'normalize';
@import 'skeleton';
@import 'welcome';

#nav-menu{
  display:inline;
  li{
    list-style: none;
    height: 50px;
    padding: 2px;
  }
  .fa{
    color: white;
  }
  span{
    width:0;
    left:50px;
    padding:0;
    position:absolute;
    overflow:hidden;
    font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:bold;
    letter-spacing:0.6px;
    white-space:nowrap;
    line-height:50px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
  }
  a{
    background-color: #303030;
    height: 50px;
    width: 50px;
    display:block;
    position:relative;
    text-decoration: none;
    margin-left: 0px;
  }

  a:hover span{ width:auto; padding:0 20px;overflow:visible; }
  a:hover{
    text-decoration:none;
    -moz-box-shadow:0 0 5px #9ddff5;
    -webkit-box-shadow:0 0 5px #9ddff5;
    box-shadow:0 0 5px #9ddff5;
  }
  .home {	background-position:0 0;}
  .home:hover {	background-position:0 -39px;}
  .home span{
    background-color:#43B26A;
    color:#303030;
    text-shadow:1px 1px 0 #73726D;
  }
  .sign-up {	background-position:0 0;}
  .sign-up:hover {	background-position:0 -39px;}
  .sign-up span{
    background-color: #937DFF;
    color:#303030;
    text-shadow:1px 1px 0 #73726D;
  }
  .sign-in {	background-position:0 0;}
  .sign-in:hover {	background-position:0 -39px;}
  .sign-in span{
    background-color: #FF4B3D;
    color:#303030;
    text-shadow:1px 1px 0 #73726D;
  }

  .sign-out {	background-position:0 0;}
  .sign-out:hover {	background-position:0 -39px;}
  .sign-out span{
    background-color: #55C3DC;
    color:#303030;
    text-shadow:1px 1px 0 #73726D;
  }
  .manga {	background-position:0 0;}
  .manga:hover {	background-position:0 -39px;}
  .manga span{
    background-color: #E7F3EF;
    color:#303030;
    text-shadow:1px 1px 0 #73726D;
  }
}
footer {
  box-sizing: border-box;
  height: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: #303030;
  border-radius: 3px;
  box-shadow: 1px 1px 0 #F01855, 2px 2px 0 #F01855, 3px 3px 3px rgba(0, 0, 0, 0.35);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  margin-bottom: 5px;
  h6{
    color: white;
    margin-left: 40%;
    padding-top: 5px;
    margin-bottom: 0px;
  }
}
.log-in{
  margin-left: 10%;
}
.sign-up{
  margin-left: 10%;
}
.form-groups {
  background-color: #303030;
  color: white;
  width: 50%;
  margin-left: 25%;
  border-radius: 3px;
  .form-submit {
    .actions {
      color: white;
      margin-left: 40%;
      .actions:hover {
        color: #F01855;
      }
    }
  }
  .form-inputs {
    .field {
      margin-left: 35%;
    }
    .top-field {
      margin-left: 35%;
      padding-top: 10%;
    }
  }
}
 hr{
   margin: 0px;
 }

@media (max-width: 1200px) {

  footer{
    padding-bottom: 5%;
  }
  .parallax{
    width: 80%;
    height: 40vh;
    margin-left: 10%;
  }

  .capture_layer{
    padding-bottom: 3em;
    height: 65%;
    h1{
      margin-bottom: 0px;
    }
  }
}

@media (max-width: 1000px) {
  footer{
    width: 90%;
    margin-left: 5%;
    h6{
      margin-left: 35%;
    }
  }
}

@media (max-width: 750px) {
  .parallax {

    .capture_layer {
      padding-bottom: 6em;
    }
  }
  footer{
    h6{
      margin-left: 33%;
    }
  }
}

@media (max-width: 550px) {

  footer{
    padding-bottom: 8%;
    h6{
      margin-left: 28%;
    }
  }
}

@media (max-width: 400px) {

}