@import 'normalize';
@import 'skeleton';
@import 'welcome';
@import 'mangas';
@import 'animes';
@import url(https://fonts.googleapis.com/css?family=Lora:700italic|Gravitas+One|Titillium+Web);
.white-space{
  margin-top: 10px;
  margin-bottom: 10px;
}
.black-line{
  width: 100%;
  height: 10px;
  background-color: #00001F;
}
.container{
  margin-left: 15%;
  margin-right: 15%;
  .main-content-divider{
    border-bottom: 3px dashed rgba(0, 0, 0, 1);
  }
}
.black-line-divider{
  margin-top: 10px;
  height: 10px;
  background-color: #00001F;
}
.notice-area{
  height: 30px;
  .notice{
    margin-bottom: 0px;
  }
  .alert{
    margin-bottom: 0px;
  }
}
.left-logo-area{
  height: 15%;
  .left-logo{
    height: 100px;
    margin-top: 10px;
    background-color: #00001F;
    .left-logo-animanga{
      font-family: 'Gravitas One', cursive;
      font-weight: bold;
      font-size: 40px;
      color: #FFFFFF;
      padding-left: 5px;
      padding-top: 30px;
      padding-bottom: 20px;
    }

  }
}

.right-logo-area {
  height: 20%;
  .right-logo{
    height: 100px;
    margin-top: 10px;
    background-color: #00001F;
    .right-logo-ul{
      list-style: none;
      padding-left: 40px;
      .right-logo-anime{
        display: inline;
        color: #ED1C24;
        font-size: 50px;
        font-family: 'Lora', serif;
      }
      .right-logo-and{
        display: inline;
        font-size: 58px;
        width: 50px;
        color: #FFFFFF;
        font-family: 'Titillium Web', sans-serif;
      }
      .right-logo-manga{
        padding-left: 10px;
        display: inline;
        font-size: 50px;
        color: #FFFFFF;
        font-style: italic;
        font-family: 'Titillium Web', sans-serif;
      }
    }
  }
  #nav-menu {
    margin-top: 5px;
    margin-bottom: 0px;

    .nav-link {
      margin-left: 2.5%;
      margin-right: 15%;
      display: inline;
      list-style: none;
      margin-bottom: 0px;
    }
    .fa {
      color: #FFFFFF;
    }
    span {
      width: 0;
      left: 63px;
      padding: 0;
      position: absolute;
      overflow: hidden;
      font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.6px;
      white-space: nowrap;
      line-height: 30px;
      -webkit-transition: 0.25s;
      -moz-transition: 0.25s;
      transition: 0.25s;
    }
    a {
      background-color: #00001F;
      height: 30px;
      width: 63px;
      display: block;
      position: relative;
      text-decoration: none;
      margin-left: 0px;
    }

    a:hover span {
      width: auto;
      padding: 0 20px;
      overflow: visible;
    }
    a:hover {
      text-decoration: none;
      -moz-box-shadow: 0 0 5px #9ddff5;
      -webkit-box-shadow: 0 0 5px #9ddff5;
      box-shadow: 0 0 5px #9ddff5;
    }
    .home {
      display: inline-block;
      background-position: 0 0;
    }
    .home:hover {
      background-position: 0 -39px;
    }
    .home span {
      background-color: #43B26A;
      color: #00001F;
      text-shadow: 1px 1px 0 #FFFFFF;
    }
    .sign-up {
      display: inline-block;
      background-position: 0 0;
    }
    .sign-up:hover {
      background-position: 0 -39px;
    }
    .sign-up span {
      background-color: #937DFF;
      color: #00001F;
      text-shadow: 1px 1px 0 #FFFFFF;
    }
    .sign-in {
      display: inline-block;
      background-position: 0 0;
    }
    .sign-in:hover {
      background-position: 0 -39px;
    }
    .sign-in span {
      background-color: #FF4B3D;
      color: #00001F;
      text-shadow: 1px 1px 0 #FFFFFF;
    }

    .sign-out {
      display: inline-block;
      background-position: 0 0;
    }
    .sign-out:hover {
      background-position: 0 -39px;
    }
    .sign-out span {
      background-color: #55C3DC;
      color: #00001F;
      text-shadow: 1px 1px 0 #FFFFFF;
    }
    .manga {
      display: inline-block;
      background-position: 0 0;
    }
    .manga:hover {
      background-position: 0 -39px;
    }
    .manga span {
      background-color: #F5A8AA;
      color: #00001F;
      text-shadow: 1px 1px 0 #FFFFFF;
    }
    .anime {
      display: inline-block;
      background-position: 0 0;
    }
    .anime:hover {
      background-position: 0 -39px;
    }
    .anime span {
      background-color: #DEC6EC;
      color: #00001F;
      text-shadow: 1px 1px 0 #FFFFFF;
    }
  }
}
footer {
  box-sizing: border-box;
  height: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: #303030;
  border-radius: 3px;
  box-shadow: 1px 1px 0 #F01855, 2px 2px 0 #F01855, 3px 3px 3px rgba(0, 0, 0, 0.35);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  margin-bottom: 5px;
  h6{
    color: white;
    margin-left: 40%;
    padding-top: 5px;
    margin-bottom: 0px;
  }
}
.log-in{
  margin-left: 10%;
}
.sign-up{
  margin-left: 10%;
}
.form-groups {
  background-color: #303030;
  color: white;
  width: 50%;
  margin-left: 25%;
  border-radius: 3px;
  .form-submit {
    .actions {
      color: white;
      margin-left: 40%;
      .actions:hover {
        color: #F01855;
      }
    }
  }
  .form-inputs {
    .field {
      margin-left: 35%;
    }
    .top-field {
      margin-left: 35%;
      padding-top: 10%;
    }
  }
}
 hr{
   margin: 0px;
 }

@media (max-width: 1200px) {

  footer{
    padding-bottom: 5%;
  }
  .parallax{
    width: 80%;
    height: 40vh;
    margin-left: 10%;
  }

  .capture_layer{
    padding-bottom: 3em;
    height: 65%;
    h1{
      margin-bottom: 0px;
    }
  }
}

@media (max-width: 1000px) {
  footer{
    width: 90%;
    margin-left: 5%;
    h6{
      margin-left: 35%;
    }
  }
}

@media (max-width: 750px) {
  .parallax {

    .capture_layer {
      padding-bottom: 6em;
    }
  }
  footer{
    h6{
      margin-left: 33%;
    }
  }
}

@media (max-width: 550px) {

  footer{
    padding-bottom: 8%;
    h6{
      margin-left: 28%;
    }
  }
}

@media (max-width: 400px) {

}