@import 'normalize';
@import 'skeleton';
@import 'welcome';
@import 'mangas';
@import 'animes';
@import url(https://fonts.googleapis.com/css?family=Lora:700italic|Gravitas+One|Titillium+Web);
.white-space{
  margin-top: 10px;
  margin-bottom: 10px;
}
.black-line{
  width: 100%;
  height: 10px;
  background-color: #00001F;
}
.container{
  margin-left: 15%;
  margin-right: 15%;
  .main-content-divider{
    border-bottom: 3px dashed rgba(0, 0, 0, 1);
  }
}

.content-container{
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 3px solid #00001F;
  box-shadow: 1px 1px 0 #00001F, 1px 1px 0 #00001F, 1px 1px 1px rgba(0, 0, 0, 0.35);
}
.black-line-divider{
  margin-top: 10px;
  height: 10px;
  background-color: #00001F;
}
.notice-area{
  height: 30px;
  .notice {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding-left: 5px;
    background-color: #6AEE78;
    box-shadow: 1px 1px 0 #00001F, 2px 2px 0 #00001F, 3px 3px 3px rgba(0, 0, 0, 0.35);
  }
  .alert{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding-left: 5px;
    background-color: #CC1C20;
    box-shadow: 1px 1px 0 #00001F, 2px 2px 0 #00001F, 3px 3px 3px rgba(0, 0, 0, 0.35);
  }
}
.logo-area{
  height: 15%;
  .logo{
    height: 100px;
    margin-top: 10px;
    background-color: #00001F;
    .logo-animanga{
      font-family: 'Titillium Web', sans-serif;
      font-weight: bold;
      font-size: 40px;
      color: #FFFFFF;
      padding-left: 5px;
      padding-top: 30px;
      padding-bottom: 20px;
    }
    .anime-logo{
      color: #ED1C24;
      font-size: 24px;
    }
    .animanga-logo {
      font-size: 40px;
      margin-left: 4%;
    }
    .manga-logo{
      font-size: 24px;
    }
  }
}
  #cssmenu,
  #cssmenu ul,
  #cssmenu ul li,
  #cssmenu ul li a,
  #cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #cssmenu:after,
  #cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  #cssmenu #menu-button {
    display: none;
  }
  #cssmenu {
    width: auto;
    border: 3px solid #ED1C24;
    border-radius: 3px;
    font-family: 'Lora', sans-serif;
    line-height: 1;
    background: #f7f7f7;
    box-shadow: 1px 1px 0 #ED1C24, 1px 1px 0 #ED1C24, 1px 1px 1px rgba(0, 0, 0, 0.35);
    margin-bottom: 10px;
  }
  #cssmenu > ul {
    background-color: #00001F;
  }
  #cssmenu > ul > li {
    float: left;
  }
  #cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
  }
  #cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
  }
  #cssmenu.align-right > ul > li {
    float: right;
  }
  #cssmenu > ul > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    width: auto;
    padding-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }
  #cssmenu > ul > li > a:hover,
  #cssmenu > ul > li:hover > a,
  #cssmenu > ul > li.active > a {
    color: #ED1C24;
  }
  #cssmenu #menu-indicator {
    position: absolute;
    bottom: 0;
    display: block;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-bottom-color: #ED1C24;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  #cssmenu.small-screen {
    width: 100%;
  }
  #cssmenu.small-screen > ul,
  #cssmenu.small-screen.align-center > ul {
    width: 100%;
    text-align: left;
  }
  #cssmenu.small-screen > ul > li,
  #cssmenu.small-screen.align-center > ul > li {
    float: none;
    display: block;
    border-top: 1px solid rgba(100, 100, 100, 0.1);
  }
  #cssmenu.small-screen > ul > li > a {
    padding: 18px 25px;
  }
  #cssmenu.small-screen > ul > li:after,
  #cssmenu.small-screen > ul > li:before {
    display: none;
  }
  #cssmenu.small-screen #menu-button {
    display: block;
    padding: 18px 25px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ED1C24;
    background-color: #00001F;
  }
  #cssmenu.small-screen #menu-button.menu-opened {
    color: #444444;
  }
  #cssmenu.small-screen #menu-button:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 19.5px;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top: 2px solid #ED1C24;
    border-bottom: 2px solid #ED1C24;
    width: 18px;
    height: 3px;
  }
  #cssmenu.small-screen #menu-button.menu-opened:after {
    border-top: 2px solid #444444;
    border-bottom: 2px solid #444444;
  }
  #cssmenu.small-screen #menu-button:before {
    content: "";
    position: absolute;
    right: 25px;
    top: 29.5px;
    display: block;
    width: 18px;
    height: 2px;
    background: #ED1C24;
  }
  #cssmenu.small-screen #menu-button.menu-opened:before {
    background: #444444;
  }
  #cssmenu.small-screen #menu-indicator {
    display: none;
  }
footer {
  box-sizing: border-box;
  height: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: #00001F;
  border-radius: 3px;
  box-shadow: 1px 1px 0 #F01855, 2px 2px 0 #F01855, 3px 3px 3px rgba(0, 0, 0, 0.35);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  margin-bottom: 5px;
  h6{
    color: white;
    margin-left: 40%;
    padding-top: 5px;
    margin-bottom: 0px;
  }
}
.log-in{
  margin-left: 14.5%;
}
.sign-up{
  margin-left: 1%;
}
.form-groups {
  background-color: #00001F;
  color: white;
  width: 50%;
  margin-left: 25%;
  border-radius: 3px;

  .form-submit {
    .actions {
      color: white;
      margin-left: 15%;
      width: 70%;
      .actions:hover {
        color: #ED1C24;
      }
    }
  }
  .form-inputs {
    .field {
      margin-left: 30%;
    }
    .top-field {
      margin-left: 30%;
      padding-top: 10%;
    }
    .top-sign-in{
      margin-left: 30%;
      padding-top: 10%;
      #user_email{
        width: 55%;
      }
    }
    .sign-in-field{
      margin-left: 30%;
      width: 40%;
      #user_password{
        width: 97%;
      }
    }
  }
}
 hr{
   margin: 0px;
 }
.recommendation-container {
  height: 350px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 3px;
  .recommendation-box{
    height: 250px;
    position: relative;
  }
}
.title-of-page{
  font-family: 'Lora', serif;
  padding-left: 10px;
  text-decoration: underline;
}
.padding-button{
  margin-left: 10px;
}
.color-link{
  color: #EA202D;
}
@media (max-width: 1200px) {

  footer{
    padding-bottom: 5%;
  }
  .parallax{
    width: 80%;
    height: 40vh;
    margin-left: 10%;
  }

  .capture_layer{
    padding-bottom: 3em;
    height: 65%;
    h1{
      margin-bottom: 0px;
    }
  }
}

@media (max-width: 1000px) {
  footer{
    width: 90%;
    margin-left: 5%;
    h6{
      margin-left: 35%;
    }
  }
}

@media (max-width: 750px) {
  .parallax {

    .capture_layer {
      padding-bottom: 6em;
    }
  }
  footer{
    h6{
      margin-left: 33%;
    }
  }
}

@media (max-width: 550px) {

  footer{
    padding-bottom: 8%;
    h6{
      margin-left: 28%;
    }
  }
}

@media (max-width: 400px) {

  }
