// Place all the styles related to the mangas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search-form{
  padding-top: 10px;
}
.image-container {
  max-width: 100px;
  max-height: 500px;
  border-style: solid;
  border-color: #00001F;
  margin-top: 5%;
  margin-left: 6%;
  position: absolute;
  transform: translate(0, -50%);
  top: 33%;
  .image-collection {
  max-width: 100%;
  max-height: 100%;
  }
}
.image-container-search{
  max-width: 100px;
  max-height: 500px;
  border-style: solid;
  border-color: #00001F;
  margin-top: 5%;
  margin-left: 6%;
  .image {
    max-width: 100%;
    max-height: 100%;
  }
}

input[type="checkbox"]{
  display: none;
}
.btn {
  padding: 7px;
  background: #00001F;
  color: #FFF;
  font-size: 1em;
  margin: 2rem 0 0 1rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 75%;
  width: 80%;
  transform: translate(0, -50%);
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
  a:hover {
    color: rgba(0,0,0,0);
    text-decoration: none;
  }
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

#switch{
  width: 200px;
  height: 40px;
}

#switch2{
  margin-left: 30%;
  width: 200px;
  height: 40px;
}
.toggle{
  position: absolute;
  border: 2px solid #444249;
  border-radius: 20px;
  -webkit-transition: border-color .6s  ease-out;
  transition: border-color .6s  ease-out;
  box-sizing: border-box;
}

.toggle.toggle-on{
  border-color: #00001F;
  -webkit-transition: all .5s .15s ease-out;
  transition: all .5s .15s ease-out;
}

.toggle-button{
  position: absolute;
  top: 4px;
  width: 28px;
  bottom: 4px;
  left: 3px;
  background-color: #444249;
  border-radius: 19px;
  cursor: pointer;
  -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
  transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on .toggle-button{
  top: 3px;
  width: 190px;
  bottom: 3px;
  right: 3px;
  border-radius: 23px;
  background-color: #00001F;
  box-shadow: 0 0 16px #ED1C24;
  -webkit-transition: all .2s .1s, right .1s;
  transition: all .2s .1s, right .1s;
}


.toggle-text-on{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 36px;
  text-align: center;
  font-family: 'Lora', sans-serif;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: rgba(0,0,0,0);
}

.toggle-on .toggle-text-on{
  color: #ED1C24;
  -webkit-transition: color .3s .15s ;
  transition: color .3s .15s ;
  a:hover {
    color: #ED1C24;
    text-decoration: none;
  }
}

.toggle-text-off{
  top: 0;
  bottom: 0;
  right: 0;
  margin-left: 35px;
  line-height: 36px;
  text-align: center;
  font-family: 'Lora', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  color: #444249;
}

.toggle-on .toggle-text-off{
  color: rgba(0,0,0,0);
}

.glow-comp{
  position: absolute;
  opacity: 0;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 6px;
  background-color: rgba(75, 122, 141, .1);
  box-shadow: 0 0 12px rgba(75, 122, 141, .2);
  -webkit-transition: opacity 4.5s 1s;
  transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp{
  opacity: 1;
  -webkit-transition: opacity 1s;                transition: opacity 1s;
}

.manga-box{
  height: 250px;
  position: relative;
}
.name-table{
  font-size: 1.3em;
}