.description{
  .description-title {
    background-color: #00001F;
    height: 75px;
    margin-top: 10px;
    font-size: 50px;
    color: #FFFFFF;
    padding-left: 27px;
    font-family: 'Titillium Web', sans-serif;
  }
  .description-sub-title{
    color: #ED1C24;
    font-family: 'Titillium Web', sans-serif;
    font-size: 35px;
    padding-top: 10px;
  }
  .description-content{
    color: #66685F;
    font-size: 19px;
    font-family: 'Titillium Web', sans-serif;;
  }
}

.site-image{
  background-image: url('http://i.imgur.com/UTqSJ0T.jpg');
  height: 75vh;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 0 #00001F, 2px 2px 0 #00001F, 3px 3px 3px rgba(0, 0, 0, 0.35);

}